{% extends "base.html" %}

{% block content %}

    <div id="main-page-container">

        <section class="vertical-section">
            
            {% if user.is_authenticated %}

            <div class="card">
                <h2>Hi, {{ user.username }}!</h2>
                <p>You can view, modify or delete your account details here.</p>
            </div>

            <div class="card">
                <h2>Account Details:</h2>
                <p>Username: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Date Joined: {{ user.date_joined }}</p>
                <p>Last Login: {{ user.last_login }}</p>
            </div>

            <div class="card">
                <h2>Songs:</h2>
                    {% for song in songs %}
                        <p>{{ song }}</p>
                    {% endfor %}
            </div>

            {% endif %}

        </section>

    </div>

{% endblock content %}