{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

    <div id="main-page-container">

        <section class="vertical-section">
            {% if user.is_authenticated %}

            <div class="card">

                <h2>Add a song:</h2>
                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ song_form | crispy }}
                    {% csrf_token %}
                    <button type="submit">Submit</button>
                </form>

                {% if song_added %}
                <br>
                <p>
                    <span class="alert">
                        Your song has been added successfully.
                    </span>
                </p>

                {% endif %}

            </div>

            {% endif %}

        </section>

    </div>

{% endblock content %}