{% extends "base.html" %}

{% block content %}

    <div id="main-page-container">

        <section class="horizontal-section">
            {% for song in song_list %}

                <div>
                    <a href="#">
                        <h2>{{ song.title }}</h2>
                        <p>Artist: {{ song.artist }}</p>
                        <p>Album: {{ song.album }}</p>
                    </a>
                </div>

            {% endfor %}
        </section>

    </div>

{% endblock content %}