{% extends "base.html" %}

{% block content %}

    <div id="main-page-container">

        <section class="vertical-section">
            {% for song in song_list %}

                <div class="card">
                    <a href="{% url 'song_detail' song.slug %}">
                        <h2>{{ song.title }}</h2>
                        <p>Artist: {{ song.artist }}</p>
                        <p>Album: {{ song.album }}</p>
                    </a>
                </div>

            {% endfor %}
        </section>

    </div>

{% endblock content %}